:root {
  --ion-color-primary: #e48a3a;
  --ion-color-primary-rgb: 228, 138, 58;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #c97833;
  --ion-color-primary-tint: #e8964e;

  --ion-color-secondary: #6f8cff;
  --ion-color-secondary-rgb: 111, 140, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #627be0;
  --ion-color-secondary-tint: #7d97ff;

  --ion-safe-area-top: env(safe-area-inset-top);
  --ion-safe-area-bottom: env(safe-area-inset-bottom);
  --ion-safe-area-left: env(safe-area-inset-left);
  --ion-safe-area-right: env(safe-area-inset-right);
}
