# ─── Build ────────────────────────────────────────────────────────────────────
.next/
out/
dist/

# ─── Dependencies ─────────────────────────────────────────────────────────────
node_modules/

# ─── Cache ────────────────────────────────────────────────────────────────────
.cache/
.swc/
.eslintcache
.stylelintcache
*.tsbuildinfo

# ─── Testing ──────────────────────────────────────────────────────────────────
coverage/
.nyc_output/

# ─── Environment ──────────────────────────────────────────────────────────────
*.local
.env.*
!.env.example

# ─── OS & Editor ──────────────────────────────────────────────────────────────
.DS_Store
.vscode/settings.json

# ─── Logs ─────────────────────────────────────────────────────────────────────
*.log
npm-debug.log*
pnpm-debug.log*
